.queroDoar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 90vh;
    p{
        font-size: 24px;
    }
}

.formDoar{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 28vw;
    height: 75vh;
    border: solid #005695;
    border-radius: 15px;
    
    .tituloForm{
        display: flex;
        align-items: end;
        justify-content: space-between;
        height: 10vh;
        width: 80%;
        font-size: medium;
        color: #005695;
    }

    .informacoesDoador{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 40vh;
    }

    input{
        height: 100%;
        width: 100%;
        border: none;
        border-radius: 15px;
        outline: 0;
        padding-left: 5%;

        &::placeholder{
            color: black;
            font-size: medium;
        }
    }

    .informacao {
        display: flex;
        align-items: center;
        border: solid #005695;
        border-radius: 17px;
        height: 6vh;
        width: 80%;
        input:focus{
            box-shadow: #0057958f 0px 0px 7px 7px;
        }
    }

    .botaoDoar{
        button{
            border: none;
            background: none;
            width: 20%;
            height: 100%;
            font-size: larger;
            color: white;
            cursor: pointer;
        }
        display: flex;
        justify-content: center;
        align-items: start;
        border: solid #005695;
        border-radius: 10px;
        background-color: #005695;
        width: 50%;
        height: 7vh;
        transition: 1s;
        @media (min-width: 781px){
        &:hover{
            //background-color: #004b81;
            border: none;
            button{
                transition: width 500ms;
                background-color: green;
                border-radius: 10px;
                font-size: larger;
                width: 100%;
            }
        }
        }
    }
}

@media (max-width: 780px) {
    .queroDoar{
        height: 110vh;
        p{
            width: 80%;
            font-size: 18px;
            text-align: center;
        }
    }
    .formDoar{
        width: 90%;
        .tituloForm{
            width: 90%;
            justify-content: space-evenly;
            font-size: 23px;
            p{
                width: 60%;
                text-align: center;
                text-wrap: nowrap;
            }
            img{
                width: 50px;
            }
        }
        .botaoDoar{
            button{
                width: 100%;
                border-radius: 10px;
            }
            &:active{
                border: solid green 1px;
                transition: none;
                transform: scale(0.95);
                button{
                    background-color: green;
                }
            }
        }
    }
}