.inicio{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bannerLivros{
    background: url(../../assets/banner.png);
    background-size: cover;
    width: 100%;
    height: 75vh;
    display: flex;
    align-items: center;
    padding-left: 9%;
    h1{
        color: #fff;
        width: 25%;
        font-size: xx-large;
    }
}

.doar{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 90vw;
    height: 75vh;
    h2{
        color: #005695;
        font-size: 40px;
    }
}

.cards {
    display: flex;
    justify-content: space-between;

}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background-color: #0157944D;
    width: 20vw;
    height: 45vh;
    border-radius: 10px;
    img {
        width: 100px;
    }
    p {
        color: black;
        font-size: 22px;
        width: 75%;
    }
}
    
@media (max-width: 780px){
    .bannerLivros{
        background-position: center;
        justify-content: center;
        height: 60vh;
        padding-left: 0;
        h1{
            width: 70%;
            text-align: center;
            font-size: x-large;
        }
    }
    .doar{
        text-align: center;
        height: 150vh;
        h2{
            font-size: 30px;
        }
    }
    .cards{
        flex-direction: column;
        align-items: center;
        height: 80%;
    }
    .card{
        width: 75%;
        height: 25vh;
        img{
            width: 50px;
        }
        p{
            font-size: large;
            width: 90%;
        }
    }
}
