header {
    background: linear-gradient(90deg, #001B2F 0%, #005695 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
}

.logoHeader {
    display: flex;
    align-items: end;
    justify-content: space-around;
    width: 21%;
    margin-left: 1%;
    margin-bottom: 2%;

    h1{
        color: white;
        font-size: 30px;
    }
}

.navHeader {
    width: 30%;
    
    ul {
        display: flex;
        justify-content: space-around;
        list-style: none;
    }

    .link {
        font-size: 20px;
        color: white;

        &:hover {
            border-bottom: solid white 2px;
        }
    }
}

.barraDeBusca {
    border: solid #fff;
    width: 20%;
    display: flex;
    justify-content: space-around;
    height: 6vh;
    border-radius: 20px;
    margin-right: 1%;

    input {
        background-color: transparent;
        color: #fff;
        border: none;
        width: 75%;
        outline: 0;

        &::placeholder {
            color: #fff;
            text-align: center;
            font-size: larger;
        }
    }

    button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}