footer{
    display: flex;
    flex-direction: column;
}

.contato{
    background-color: #005695;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3%;
    height: 10vh;
    .redesSociais{
        width: 22%;
        display: flex;
        justify-content: space-between;
    }
}

.direitosAutorais{
    background-color: #232020;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7vh;
}

@media (max-width: 780px){
    .contato {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 15vh;
        .redesSociais{
            width: 60%;
        }
    }
    .direitosAutorais{
        height: 10vh;
        text-align: center;
        font-size: medium;
        p{
            width: 75%;
        }
    }
}
